<ng-container *ngIf="products.length!=0">
    <div class="container">
<div class="card-table">
    <div class="cart-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>sr.no</th>
                    <th>product name</th>
                    <th> product image</th>
                    <th> Description</th>
                    <th> Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                   
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of products;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.title}}</td>
                <td><img style="width:120px;"src="{{item.image}}"></td>
                <td style="width: 25%;">{{item.description}}</td>
                <td style="Width:12%;">${{item.price}}</td>
                <td style="Width:12%;">{{item.quantity}}</td>
                <td style="Width:12%;" >${{item.total}}</td>
                <td><button (click)= removeItem(item) class="btn btn-danger"><i class="fas fa-trash"></i></button></td>

            </tr>
            <tr>
                <td colspan="4"></td>
                <td><button (click)=emptyCart() class="btn-danger">Empty Cart</button></td>
                <td><button routerLink="/product" class="btn-primary">Shop More</button></td>
                <td><button class="btn-success">Check Out</button></td>
                <td> <strong> Grand Total:${{grantTotal}}</strong></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</div>
</ng-container>



<ng-container *ngIf="products.length==0">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img src="assets/empty.png">
        <h4> Your Cart is Empty</h4>
        <h6> Add items to it now</h6>
        <button  routerLink="/product"class="btn btn-primary" >Shop Now</button>
    </div>
</div>
</ng-container>
